# Target html files are skipped and pushed appart from local to the 'eprocurement-everis.github.io' repository
07-Asciidoc/target

# Other resources, such as ppt with raw drawings, etc.
07-Asciidoc/src/main/asciidoc/rscs

# IntelliJ files
.idea
*.iml
.project
# EAP temporary files
.ldb
.DS_Store
v2.0.1/.DS_Store
v2.0.1/05-Implementation/.DS_Store
v2.0.1/05-Implementation/Testing/.DS_Store
v2.0.1/05-Implementation/Testing/roles-subroles/.DS_Store
v2.0.1/05-Implementation/Testing/roles-subroles/doc/.DS_Store
v2.0.1/05-Implementation/Testing/roles-subroles/doc/img/.DS_Store
