.idea
build
/analysis_and_design/transformation_output/xmi_conceptual_model/UML_EA.DTD
/analysis_and_design/transformation_output/eCatalogue/xmi_conceptual_model/UML_EA.DTD
/analysis_and_design/transformation_output/ePO/xmi_conceptual_model/UML_EA.DTD
