# Target html files are skipped and pushed appart from local to the 'eprocurement-everis.github.io' repository
07-Asciidoc/target

# Other resources, such as ppt with raw drawings, etc.
07-Asciidoc/src/main/asciidoc/rscs

# IntelliJ files
.idea
*.iml
