
#toc {
    left: 0%;
    top: 4%;
    max-height: 100%;
    width: 20%;
    background-color:#f5f5f5;
}

.display-in-two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

a[href^="#"]::before {
    content: "";
}

a[href^="#"]::after {
    content: "";
}


#filters {
    right: 0%;
    top: 4%;
    width: 20%;
    background-color:#f5f5f5;
    margin-right: 25px;
}

 

.filter-button{
    width: 100%;
    margin-bottom: 10px;
}

body {
    text-align:left !important;
}

.error {
    color: red;
    margin-right: 5px;
}

.correct {
    color:green;
}
.warning {
    color: #d0d01b;
    margin-right: 5px;
}

.info {
    color: #4C9EFF;
    margin-right: 5px;
}

.tocify {
    padding: 10px;
    overflow: auto;
    margin-left: 2%;
    position: fixed;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.tocify-extend-page {
  height: 0 !important;
}

.active {
    background-color: rgba(155, 168, 255, 0.3);
}

@media print {
    #toc {
        display: none;
    }
}