.qa {
  margin-bottom:10px;  
}
.qa input {
  display:none;
}
.qa label {
  display:block;
  height:30px;
  line-height:30px;
  font-weight:bold;
  cursor: pointer;
  color:blue;
}
.qa label:before {
  content:"+";
  display:none;
  height:30px;
  width:30px;
  background:#ccc;
  color:White;
  text-align:center;
  margin-right:10px;
}
.qa div {
  display:none;
  padding-top:5px;
}
.qa input:checked ~ label:before {
  display:none;
  content:"-";
  background:#3a4;
}
.qa input:checked ~ div {
  display:block;
}

.qa entry {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-decoration: none;
}

.qa definition {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.qa sources {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size: small;
}

.qa examples {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: small;
}
.qa usedIn {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: small;
}

.nqa {
			margin-bottom:10px;  
}

.nqa entry_letter {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 150%;
	color:black;
}

.nqa anchor {
	margin-top: -100px;
	height: 100px;
	text-decoration: none;
}

.index {
	margin-top:20px;
	margin-bottom:20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;s
	color:blue;
}

.title_font {
	font-family: Arial, Helvetica, sans-serif;
}

.normal_font {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}